<footer>
        <div class="container">
            <div class="nav-title">
                <div>
                </div>
                <p>
                    Ipsum Industries
                </p>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Services
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Portfolio
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            FAQ
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Gallery
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="socials">
                <span class="material-symbols-outlined">
                    phone_in_talk
                </span>
                <span class="material-symbols-outlined">
                    mail
                </span>
                <div class="facebook">
                </div>
            </div>
            <div>
                <p>
                    © 2025 Ipsum Industries. All rights reserved.
                </p>
            </div>
        </div>
    </footer>